#cta2 {
    position: relative;
}
  
#cta2 .b1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cta2 .b1 p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #f3f3f3;
}

#cta2 .b1 > div {
    display: flex;
    align-items: center;
    gap: 12px;
}

#cta2 .b1 h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;;

    margin-bottom: 20px;
}

#cta2 .b1 .img-alunos {
    max-width: 151px;
    height: auto;
}

#cta2 .b2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}


#cta2 .b2 .preco {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#cta2 .b2 .preco p {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -0.2px;
    color: #FFFFFF !important;
    vertical-align: middle;
    line-height: 62px;
}

#cta2 .b2 .preco span {
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
}

#cta2 .b2 p {
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    color: #000000;
}

#cta2 img {
    width: 100%;
}

#cta2 .row {
    background: #0E0E12;
    border-radius: 4px;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    padding: 52px 75px;
}

#cta2 .divisor {
    width: 1px;
    height: 100%;
    background-color: #E6E6E6;
}

@media (max-width: 768px) {
    #cta2 .row {
        padding: 60px 0px;
    }

    #cta2 .row > div {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    #cta2 .b2 .preco {
        flex-direction: column;
        gap: 2px;
    }
    #cta2 .b2 .preco p {
        font-size: 15px;
        line-height: 22px       
    }

    #cta2 .divisor {
        height: 1px;
        width: 100%;
        margin: 37px 0px;
    }

    #cta2 .b1 h2 {
        font-size: 19px;
        line-height: 30px;
    }

    #cta2 .b1 p {
        font-size: 12px;
        line-height: 18px;
    }

    #cta2 .b1 {
        justify-content: baseline;
        align-items: center;
    }
}

@media (max-width: 428px) {
    #cta2 .row {
        padding: 40px 20px;
    }
}