#mockup {
    padding-top: 100px;
    padding-bottom: 72px;
    background: #020408;
    position: relative;
    overflow: hidden;
}

#mockup .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#mockup .container-mockup {
    position: relative;
    max-width: 838px;
    margin-left: auto;
    margin-right: auto;
}

#mockup .container-mockup .mockup {
    max-width: 100%;
}

#mockup .mockup {
    position: relative;
    z-index: 2;
    animation: shake 15s ease-in-out infinite;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-5px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(5px);
    }
  }
  



@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

#mockup .item1 {
    position: absolute;
    top: -20%;
    right: 22%;
    max-width: 207px;
    z-index: 1;
    animation: rotate 18s linear infinite, opacity 2s ease-in-out infinite alternate;
}

@media (max-width: 768px){
    #mockup {
        padding-top: 100px;
        overflow: hidden;
        padding-bottom: 0px;
    }

    #mockup .row > div {
        max-width: 315px;
        margin-left: auto;
        margin-right: auto;
    }

    #mockup .container-mockup {
        margin-bottom: 40px;
    }

    #mockup .item1 {
        position: absolute;
        top: -36%;
        right: 7%;
        z-index: 1;
        animation: rotate 14s linear infinite reverse;
    }

   
   
    
}
